<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../icon/Amazon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="../css/index.css">
    <title>Amazon</title>
</head>

<body class="amazon-background">

    <!-- Encabezado -->
    <header>
        <nav>
            <a href="../index.html"><img src="../img/Inicio.png" alt=""></a>
            <a href="netflix.html"><img src="../img/netflix.png" alt=""></a>
            <a href="amazon_prime_video.html"><img src="../img/amazon.png" alt=""></a>
            <a href="disney.html"><img src="../img/disney.png" alt=""></a>
            <a href="hbo_max.html"><img src="../img/hbo.png" alt=""></a>
        </nav>
    </header>

    <!-- Contenido -->
    <main>
        <section class="contenido">
            <div>
                <div>
                    <h1>¿Qué hay para ver en Amazon?</h1>

                    <p>El catálogo de Amazon es sumamente amplio y además va variando mes a mes con nuevos estrenos y
                        cambiando la programación. Podrás disfrutar de series, películas, documentales, docuseries y
                        más, pasando por todos los géneros: acción, aventuras, comedias, infantiles, dramas, musicales,
                        thrillers, TV shows, cine independiente y producciones nacionales.</p>
                </div>

                <div>
                    <h1>Las mejores series que tiene Amazon</h1>

                    <ul class="lista-peliculas">
                        <li><i class="fa-solid fa-video"></i> Scream 6.</li>
                        <li><i class="fa-solid fa-video"></i> Fatum.</li>
                        <li><i class="fa-solid fa-video"></i> El hotel de los líos.</li>
                        <li><i class="fa-solid fa-video"></i> Maravilloso desastre.</li>
                        <li><i class="fa-solid fa-video"></i> Babylon</li>
                        <li><i class="fa-solid fa-video"></i> Última noche en el Soho.</li>
                        <li><i class="fa-solid fa-video"></i> John Wick 4.</li>
                        <li><i class="fa-solid fa-video"></i> El hijo.</li>
                        <li><i class="fa-solid fa-video"></i> Creed 3.</li>
                        <li><i class="fa-solid fa-video"></i> Culpa Mía.</li>
                    </ul>
                </div>
        </section>

        <section class="amazon-pictures">
            <img src="../img/Amazon_Pelis/Amazon_1.jpeg" alt="">
            <img src="../img/Amazon_Pelis/Amazon_2.jpeg" alt="">
            <img src="../img/Amazon_Pelis/Amazon_3.jpeg" alt="">
            <img src="../img/Amazon_Pelis/Amazon_4.jpeg" alt="">
            <img src="../img/Amazon_Pelis/Amazon_5.jpeg" alt="">
            <img src="../img/Amazon_Pelis/Amazon_6.jpeg" alt="">
            <img src="../img/Amazon_Pelis/Amazon_7.jpeg" alt="">
            <img src="../img/Amazon_Pelis/Amazon_8.jpeg" alt="">
            <img src="../img/Amazon_Pelis/Amazon_9.jpeg" alt="">
            <img src="../img/Amazon_Pelis/Amazon_10.jpeg" alt="">
        </section>

        <section class="contenido">
            <div>
                <h1>Las películas mas vistas de Amazon Septiembre</h1>

                <ul class="lista-peliculas">
                    <li><i class="fa-solid fa-video"></i> La plataforma (The Rig).</li>
                    <li><i class="fa-solid fa-video"></i> Hunters (Temporada 2).</li>
                    <li><i class="fa-solid fa-video"></i> Harlem (Temporada 2).</li>
                    <li><i class="fa-solid fa-video"></i> Operación Marea Negra (Temporada 2).</li>
                    <li><i class="fa-solid fa-video"></i> Picard (Temporada 3).</li>
                    <li><i class="fa-solid fa-video"></i> Carnival Row (Temporada 2).</li>
                    <li><i class="fa-solid fa-video"></i> El consultor.</li>
                    <li><i class="fa-solid fa-video"></i> Daisy Jones & The Six.</li>
                    <li><i class="fa-solid fa-video"></i> Sin huellas.</li>
                    <li><i class="fa-solid fa-video"></i> El poder (The Power).</li>
                </ul>
        </section>
        
        <section class="amazon-pictures">
            <img src="../img/Amazon_Series/Amazon_1.jpeg" alt="">
            <img src="../img/Amazon_Series/Amazon_2.jpeg" alt="">
            <img src="../img/Amazon_Series/Amazon_3.jpeg" alt="">
            <img src="../img/Amazon_Series/Amazon_4.jpeg" alt="">
            <img src="../img/Amazon_Series/Amazon_5.jpeg" alt="">
            <img src="../img/Amazon_Series/Amazon_6.jpeg" alt="">
            <img src="../img/Amazon_Series/Amazon_7.jpeg" alt="">
            <img src="../img/Amazon_Series/Amazon_8.jpeg" alt="">
            <img src="../img/Amazon_Series/Amazon_9.jpeg" alt="">
            <img src="../img/Amazon_Series/Amazon_10.jpeg" alt="">
        </section>
          
        </section>
    </main>

    <!-- Pie de página -->
    <footer>
        <script src="https://kit.fontawesome.com/b75777cf68.js" crossorigin="anonymous"></script>
    </footer>

</body>

</html>