<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../icon/Disney.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="../css/index.css">
    <title>Disney</title>
</head>

<body class="disney-background">

    <!-- Encabezado -->
    <header>
        <nav>
            <a href="../index.html"><img src="../img/Inicio.png" alt=""></a>
            <a href="netflix.html"><img src="../img/netflix.png" alt=""></a>
            <a href="amazon_prime_video.html"><img src="../img/amazon.png" alt=""></a>
            <a href="disney.html"><img src="../img/disney.png" alt=""></a>
            <a href="hbo_max.html"><img src="../img/hbo.png" alt=""></a>
        </nav>
    </header>

    <!-- Contenido -->
    <main>
        <section class="contenido">
            <div>
                <h1>¿Qué hay para ver en Disney?</h1>

                <p>El catálogo de Amazon es sumamente amplio y además va variando mes a mes con nuevos estrenos y
                    cambiando la programación. Podrás disfrutar de series, películas, documentales, docuseries y
                    más, pasando por todos los géneros: acción, aventuras, comedias, infantiles, dramas, musicales,
                    thrillers, TV shows, cine independiente y producciones nacionales.</p>
            </div>
        </section>

        <section>
            <div class="lineal">
                <div>
                    <h1>Las mejores series que tiene Disney</h1>

                    <ul class="lista-peliculas">
                        <li><i class="fa-solid fa-video"></i> Elemental.</li>
                        <li><i class="fa-solid fa-video"></i> La sirenita.</li>
                        <li><i class="fa-solid fa-video"></i> Guardianes de la Galaxia.</li>
                        <li><i class="fa-solid fa-video"></i> Ant-Man.</li>
                        <li><i class="fa-solid fa-video"></i> Black Panther: Wakanda Forever.</li>
                        <li><i class="fa-solid fa-video"></i> Fire of Love.</li>
                        <li><i class="fa-solid fa-video"></i> Lightyear.</li>
                        <li><i class="fa-solid fa-video"></i> Turning Red.</li>
                        <li><i class="fa-solid fa-video"></i> Black Widow.</li>
                        <li><i class="fa-solid fa-video"></i> Cruella.</li>
                    </ul>
                </div>

                <div class="content-all">
                    <div class="content-carousel">
                        <figure><img src="../img/Disney_Pelis/1.jpeg"></figure>
                        <figure><img src="../img/Disney_Pelis/2.jpeg"></figure>
                        <figure><img src="../img/Disney_Pelis/3.jpeg"></figure>
                        <figure><img src="../img/Disney_Pelis/4.jpeg"></figure>
                        <figure><img src="../img/Disney_Pelis/5.jpeg"></figure>
                        <figure><img src="../img/Disney_Pelis/6.jpeg"></figure>
                        <figure><img src="../img/Disney_Pelis/7.jpeg"></figure>
                        <figure><img src="../img/Disney_Pelis/8.jpeg"></figure>
                        <figure><img src="../img/Disney_Pelis/9.jpeg"></figure>
                        <figure><img src="../img/Disney_Pelis/10.jpeg"></figure>
                    </div>
                </div>  
            </div>
        </section>

        <section>
            <div class="lineal">
                <div>
                    <h1>Las mejores series que tiene Disney</h1>

                    <ul class="lista-peliculas">
                        <li><i class="fa-solid fa-video"></i> Ahsoka.</li>
                        <li><i class="fa-solid fa-video"></i> Secret Invasion.</li>
                        <li><i class="fa-solid fa-video"></i> I'm groot.</li>
                        <li><i class="fa-solid fa-video"></i> Star Wars: Young Jedi Adventures.</li>
                        <li><i class="fa-solid fa-video"></i> American Born Chinese.</li>
                        <li><i class="fa-solid fa-video"></i> A Small Light.</li>
                        <li><i class="fa-solid fa-video"></i> The Muppets Mayhem.</li>
                        <li><i class="fa-solid fa-video"></i> MPower.</li>
                        <li><i class="fa-solid fa-video"></i> Andor.</li>
                        <li><i class="fa-solid fa-video"></i> Moon Knight.</li>
                    </ul>
                </div>

                <div class="content-all">
                    <div class="content-carousel">
                        <figure><img src="../img/Disney_Series/1.jpeg"></figure>
                        <figure><img src="../img/Disney_Series/2.jpeg"></figure>
                        <figure><img src="../img/Disney_Series/3.jpeg"></figure>
                        <figure><img src="../img/Disney_Series/4.jpeg"></figure>
                        <figure><img src="../img/Disney_Series/5.jpeg"></figure>
                        <figure><img src="../img/Disney_Series/6.jpeg"></figure>
                        <figure><img src="../img/Disney_Series/7.jpeg"></figure>
                        <figure><img src="../img/Disney_Series/8.jpeg"></figure>
                        <figure><img src="../img/Disney_Series/9.jpeg"></figure>
                        <figure><img src="../img/Disney_Series/10.jpeg"></figure>    
                    </div>
                </div>  
            </div>
        </section>
    </main>

    <!-- Pie de página -->
    <footer>
        <script src="https://kit.fontawesome.com/b75777cf68.js" crossorigin="anonymous"></script>
    </footer>

</body>

</html>